In [1]:
import pandas as pd

In [4]:
features_path = "features_token.tsv"

df=pd.read_csv(features_path, header=0, sep='\t')

In [5]:
print(df)

    ID                                               Path  ARROW  AT  \
0    1  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
1    2  D:/Project/CodePerformanceProblemDetection/5_1...      0   2
2    3  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
3    4  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
4    5  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
5    6  D:/Project/CodePerformanceProblemDetection/5_1...      1   3
6    7  D:/Project/CodePerformanceProblemDetection/5_1...      0   5
7    8  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
8    9  D:/Project/CodePerformanceProblemDetection/5_1...      0   2
9   10  D:/Project/CodePerformanceProblemDetection/5_1...      0   2
10  11  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
11  12  D:/Project/CodePerformanceProblemDetection/5_1...      0   4
12  13  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
13  14  D:/Project/CodePerformanceProblemDetection/5_1...      1   0
14  15  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
15  16  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
16  17  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
17  18  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
18  19  D:/Project/CodePerformanceProblemDetection/5_1...      0   2
19  20  D:/Project/CodePerformanceProblemDetection/5_1...      0   1
20  21  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
21  22  D:/Project/CodePerformanceProblemDetection/5_1...      0   0
22  23  D:/Project/CodePerformanceProblemDetection/5_1...      1   1
23  24  D:/Project/CodePerformanceProblemDetection/5_1...      0   2
24  25  D:/Project/CodePerformanceProblemDetection/5_1...      0   1
25  26  D:/Project/CodePerformanceProblemDetection/5_1...      0   6
26  27  D:/Project/CodePerformanceProblemDetection/5_1...      0   6
27  28  D:/Project/CodePerformanceProblemDetection/5_1...      0  14

    BLOCK_COMMENT  CLOSING_QUOTE  COLON  COLONCOLON  COMMA  DOT ...   \
0               0              1      0           0      0    0 ...
1               0              1      0           1      1   19 ...
2               0              0      5           0      0   19 ...
3               0              0      1           0      0    8 ...
4               0              0      1           0      0   25 ...
5               1              2      4           0      4   28 ...
6               0              2      5           0      0   32 ...
7               0              9     24           1      2   49 ...
8               0              0      2           2      1   34 ...
9               0              0      4           0      0   15 ...
10              0              0      9           0      6   39 ...
11              0              4      4           0      0   17 ...
12              0             11     24           2      1   78 ...
13              0              1      3           0      1   18 ...
14              0              0      0           0      0   13 ...
15              0              0     21           0      0   15 ...
16              0             13     22           0      3   40 ...
17              0              1      2           0      3   43 ...
18              0              0      3           2      5   57 ...
19              0              1      7           1      6   52 ...
20              0              0     10           0      4   40 ...
21              0              0      3           0      0    6 ...
22              0              4      2           1      3   45 ...
23              0              6     10           0      6   26 ...
24              0              0      0           0      1    7 ...
25              0              6      6           0      0    8 ...
26              0              6      6           0      0    8 ...
27              0             13      7           0      0   21 ...

    interface  null  object  package  return  super  this  true  val  var
0           0     0       0        0       0      0     0     0    0    0
1           0     0       0        1       0      0     0     0    1    0
2           0     0       0        1       0      1     1     0    0    1
3           0     0       0        1       0      0     0     0    0    0
4           0     0       0        1       0      1     2     0    0    0
5           0     1       1        1       0      2     0     2    2    0
6           1     0       0        1       0      0     0     0    0    0
7           0     0       1        1       4      0     0     0    0    1
8           0     0       0        1       0      0     0     0    0    0
9           0     0       0        1       0      0     0     0    0    0
10          0     0       1        1       2      0     0     0    1    0
11          1     0       0        1       0      0     0     0    0    0
12          0     0       1        1       0      0     0     0    2    1
13          0     0       0        1       1      0     0     0    0    0
14          0     0       0        1       0      0     0     0    0    0
15          1     0       0        1       0      0     0     0    0    0
16          0     0       1        1       1      0     0     0    0    0
17          0     0       0        1       0      1     1     0    0    0
18          0     0       0        1       0      1     5     0    0    1
19          0     2       0        1       0      1     4     0    0    2
20          0     0       0        1       1      0     0     0    2    1
21          0     0       0        1       0      0     0     0    1    0
22          0     0       0        1       0      0     2     0    2    0
23          0     0       2        1       0      0     0     2    4    0
24          0     0       0        1       0      0     0     0    0    0
25          0     4       0        1       0      0     0     0    0    6
26          0     3       0        1       0      0     0     0    0    6
27          0     4       0        1       0      0     0     0    0    7

[28 rows x 48 columns]

In [6]:
print(df.info())

print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 48 columns):
ID                           28 non-null int64
Path                         28 non-null object
ARROW                        28 non-null int64
AT                           28 non-null int64
BLOCK_COMMENT                28 non-null int64
CLOSING_QUOTE                28 non-null int64
COLON                        28 non-null int64
COLONCOLON                   28 non-null int64
COMMA                        28 non-null int64
DOT                          28 non-null int64
EOL_COMMENT                  28 non-null int64
EQ                           28 non-null int64
EQEQ                         28 non-null int64
EXCL                         28 non-null int64
GT                           28 non-null int64
IDENTIFIER                   28 non-null int64
INTEGER_LITERAL              28 non-null int64
KDoc                         28 non-null int64
LBRACE                       28 non-null int64
LBRACKET                     28 non-null int64
LONG_TEMPLATE_ENTRY_END      28 non-null int64
LONG_TEMPLATE_ENTRY_START    28 non-null int64
LPAR                         28 non-null int64
LT                           28 non-null int64
MUL                          28 non-null int64
OPEN_QUOTE                   28 non-null int64
PLUS                         28 non-null int64
QUEST                        28 non-null int64
RBRACE                       28 non-null int64
RBRACKET                     28 non-null int64
REGULAR_STRING_PART          28 non-null int64
RPAR                         28 non-null int64
WHITE_SPACE                  28 non-null int64
class                        28 non-null int64
else                         28 non-null int64
false                        28 non-null int64
fun                          28 non-null int64
if                           28 non-null int64
interface                    28 non-null int64
null                         28 non-null int64
object                       28 non-null int64
package                      28 non-null int64
return                       28 non-null int64
super                        28 non-null int64
this                         28 non-null int64
true                         28 non-null int64
val                          28 non-null int64
var                          28 non-null int64
dtypes: int64(47), object(1)
memory usage: 10.7+ KB
None
              ID      ARROW         AT  BLOCK_COMMENT  CLOSING_QUOTE  \
count  28.000000  28.000000  28.000000      28.000000      28.000000
mean   14.500000   0.107143   1.821429       0.035714       2.892857
std     8.225975   0.314970   3.031362       0.188982       4.121662
min     1.000000   0.000000   0.000000       0.000000       0.000000
25%     7.750000   0.000000   0.000000       0.000000       0.000000
50%    14.500000   0.000000   0.500000       0.000000       1.000000
75%    21.250000   0.000000   2.000000       0.000000       4.500000
max    28.000000   1.000000  14.000000       1.000000      13.000000

           COLON  COLONCOLON      COMMA        DOT  EOL_COMMENT    ...      \
count  28.000000   28.000000  28.000000  28.000000    28.000000    ...
mean    6.607143    0.357143   1.678571  27.214286     1.107143    ...
std     7.314822    0.678467   2.126614  18.491954     3.059161    ...
min     0.000000    0.000000   0.000000   0.000000     0.000000    ...
25%     2.000000    0.000000   0.000000  14.500000     0.000000    ...
50%     4.000000    0.000000   1.000000  23.000000     0.000000    ...
75%     7.500000    0.250000   3.000000  40.000000     0.000000    ...
max    24.000000    2.000000   6.000000  78.000000    11.000000    ...

       interface      null     object    package     return      super  \
count  28.000000  28.00000  28.000000  28.000000  28.000000  28.000000
mean    0.107143   0.50000   0.250000   0.964286   0.321429   0.250000
std     0.314970   1.20185   0.518188   0.188982   0.862965   0.518188
min     0.000000   0.00000   0.000000   0.000000   0.000000   0.000000
25%     0.000000   0.00000   0.000000   1.000000   0.000000   0.000000
50%     0.000000   0.00000   0.000000   1.000000   0.000000   0.000000
75%     0.000000   0.00000   0.000000   1.000000   0.000000   0.000000
max     1.000000   4.00000   2.000000   1.000000   4.000000   2.000000

            this       true        val        var
count  28.000000  28.000000  28.000000  28.000000
mean    0.535714   0.142857   0.535714   0.928571
std     1.261455   0.524531   0.999338   1.980059
min     0.000000   0.000000   0.000000   0.000000
25%     0.000000   0.000000   0.000000   0.000000
50%     0.000000   0.000000   0.000000   0.000000
75%     0.000000   0.000000   1.000000   1.000000
max     5.000000   2.000000   4.000000   7.000000

[8 rows x 47 columns]

In [9]:
import numpy as np

X = np.array(df.values[:,2:])
print(X.shape)

(28, 46)

In [11]:
from sklearn.preprocessing import scale
X = scale(X)

C:\Python\Miniconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [13]:
num = X.shape[0]

print(num)

28

In [14]:
from sklearn.neighbors import LocalOutlierFactor

In [15]:
clf = LocalOutlierFactor(n_neighbors=20, algorithm='auto', contamination=0.0001, n_jobs=-1)

In [17]:
import time

In [ ]:
def parse_timediff(timediff):
    h = timediff // 3600
    m = timediff % 3600 // 60
    s = timediff % 60
    return h, m, s

In [ ]:
local_start = time.time()

marks = clf.fit_predict(X)

hours, minutes, seconds = parse_timediff(time.time() - local_start)

print(hours)

In [ ]:
print(minutes)
print(seconds)

In [ ]:
neg_lof = np.array(clf.negative_outlier_factor)

In [20]:
neg_lof.shape

NameError: name 'neg_lof' is not defined

In [ ]:
marks = neg_lof.copy()
threshold = 0.01
marks[neg_lof <= np.percentile(neg_lof, threshold)] = -1
marks[neg_lof > np.percentile(neg_lof, threshold)] = 1

In [ ]:
outlier_indicates = np.asarray([mark < 0 for mark in marks])

outliers = df[outlier_indicates]
n_outliers = outliers.shape[0]
n_df = df.shape[0]

In [ ]:
print(outliers)